name: get all product test

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.0.0

    - name: API tests
      uses: erikbos/karate-action@main
      with:
        url: http://simple-grocery-store-api.online/
        tests: |
          Grocery_KarateAutomation/src/test/java/com/api/automation/status/status.feature
          Grocery_KarateAutomation/src/test/java/com/api/automation/products/getAllProducts.feature

    # Upload the contents of Test Results directory to workspace
    - name: Output the run Details
      uses: actions/upload-artifact@v2
      with:
          name: Reports
          path: target/karate-reports
